/* About Section */
.about-section {
  padding-top: 80px;
  padding-bottom: 300px;
  background: url("../assets/about/about-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.about-section h2 {
  font-size: 3.2rem;
}
.about-section p {
  font-size: 19px;
  padding: 20px 30px;
  color: var(--grey);
}

.about-wrapper {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: var(--yellow);
}
.about-wrapper .card-icon img {
  width: 25%;
}
.about-wrapper h4 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1;
  letter-spacing: 0.5008px;
}

.about-wrapper p {
  padding: 0 20px;
}

@media (max-width: 992px) {
  .about-section h2 {
    font-size: 2.3rem;
  }
  .about-section p {
    padding: 20px;
  }
  .about-wrapper p {
    padding: 0;
  }
}
@media (max-width: 330px) {
  .about-section h2 {
    font-size: 1.8rem;
  }
}
