footer {
  padding-top: 100px;
}
footer h5 {
  color: var(--light-black);
  line-height: 1;
  margin-bottom: 25px;
}
footer p {
  font-size: 1rem;
  margin-bottom: 3px;
}
footer .calling {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--yellow);
}
footer ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}
footer .copy-right {
  padding: 20px 0;
  margin-top: 60px;
  border-top: 1px solid var(--light-grey-2);
}
footer .copy-right ul li span {
  color: var(--light-red);
  font-weight: 800;
}
footer .copy-right ul li {
  font-size: 1rem;
  position: relative;
  padding: 0 10px;
}
footer .copy-right ul li a {
  color: var(--light-black);
}
footer .copy-right ul li:after {
  content: "|";
  position: absolute;
  top: -1px;
  right: -10px;
  padding-left: 11px;
}
footer .copy-right ul li:last-child::after {
  display: none;
}

.forscroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  height: 2.7rem;
  width: 2.7rem;
  background: var(--light-red);
  text-align: center;
  line-height: 3rem;
  border-radius: 10%;
  cursor: pointer;
}
.forscroll i {
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
}
